@page "/contas"

<!-- Contas Bancárias -->
<div class="d-flex align-items-end" style="margin-bottom: 36px;">
                            <h5 style="margin-right: 12px;">Adicionar Conta</h5><button class="btn btn-primary" type="button"><i class="fas fa-plus-circle"></i></button>
</div>
<a href="/cadastroContaBancaria"><i class="fas fa-plus-circle"></i></a>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Almeida Pay</h5>
                    <p>Conta: 09256-9</p>
                    <p>Agência: 0001</p>
                    <div class="col d-flex flex-fill justify-content-end"><button class="btn btn-primary flex-fill" type="button">DETALHES</button></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Bradesco</h5>
                    <p>Conta: 09256-9</p>
                    <p>Agência: 0001</p>
                    <div class="col d-flex flex-fill justify-content-end"><button class="btn btn-primary flex-fill" type="button">DETALHES</button></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Nubank</h5>
                    <p>Conta: 09256-9</p>
                    <p>Agência: 0001</p>
                    <div class="col d-flex flex-fill justify-content-end"><button class="btn btn-primary flex-fill" type="button">DETALHES</button></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Inter</h5>
                    <p>Conta: 09256-9</p>
                    <p>Agência: 0001</p>
                    <div class="col d-flex flex-fill justify-content-end"><button class="btn btn-primary flex-fill" type="button">DETALHES</button></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Siccob</h5>
                    <p>Conta: 09256-9</p>
                    <p>Agência: 0001</p>
                    <div class="col d-flex flex-fill justify-content-end"><button class="btn btn-primary flex-fill" type="button">DETALHES</button></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Itau</h5>
                    <p>Conta: 09256-9</p>
                    <p>Agência: 0001</p>
                    <div class="col d-flex flex-fill justify-content-end"><button class="btn btn-primary flex-fill" type="button">DETALHES</button></div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
