@page "/transacoes"
@using System.Globalization;

<div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Transferencias</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Exportar Dados</a>
                    </div>
                </div>

<!-- Label -->
<div class="container-fluid" style="margin-bottom: 36px;">
                    <div class="row">
                        <div class="col-12 col-md-12 offset-md-0 d-flex align-items-center">
                            <h5 style="margin-right: 12px;">Nova transferencia</h5>
                            <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-plus-circle"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/cadastroTransacaoPagas">Transação já paga</a></li>
                                <li><a class="dropdown-item" href="/cadastroTransacaoPagar">Transação para pagar</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
</div>

<!-- Botao -->
<div class="container-fluid" style="margin-bottom: 24px;">
                    <div class="row row-cols-3 d-inline-flex flex-fill">
                        <div class="col-md-4 d-flex justify-content-start"><input class="w-100" type="date" style="border-radius: 10px;"></div>
                        <div class="col-md-4 d-flex justify-content-start"><input class="w-100" type="date" style="border-radius: 10px;"></div>
                        <div class="col-md-4 d-flex"><button class="btn btn-primary d-flex justify-content-start" type="button">Filtrar</button></div>
                    </div>
</div>

<!-- Tabela Transferencias -->
<div class="container-fluid" style="margin-bottom: 36px;">
                    <h5 style="margin-bottom: 16px;">Ultimas Transferencias</h5>
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nome CPF ou CNPJ</th>
                                            <th class="d-sm-flex d-md-flex d-lg-flex justify-content-sm-end justify-content-md-end justify-content-lg-end">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Pix Enviado</td>
                                            <td class="d-sm-flex d-md-flex d-lg-flex justify-content-sm-end justify-content-md-end justify-content-lg-end">R$ 65,00</td>
                                        </tr>
                                        <tr>
                                            <td>Pix Recebido</td>
                                            <td class="d-sm-flex d-md-flex d-lg-flex justify-content-sm-end justify-content-md-end justify-content-lg-end">R$ 72,30</td>
                                        </tr>
                                        <tr>
                                            <td>Pix Recebido</td>
                                            <td class="d-sm-flex d-md-flex d-lg-flex justify-content-sm-end justify-content-md-end justify-content-lg-end">R$ 129,90</td>
                                        </tr>
                                        <tr>
                                            <td>Pix Enviado</td>
                                            <td class="d-sm-flex d-md-flex d-lg-flex justify-content-sm-end justify-content-md-end justify-content-lg-end">R$ 630,00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
<div class="container-fluid d-flex justify-content-center align-items-center justify-content-md-end">
                    <nav class="d-flex justify-content-end">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>


@code {
    Random rnd = new();

    void IrParaCadastroTransacao()
    {
        Navigation.NavigateTo("/transacoes/cadastrar");
    }

    void IrParaEdicaoTransacao(Guid id)
    {
        Navigation.NavigateTo($"/transacoes/{id}");
    }

    void ExcluirTransacao(Guid id)
    {
        // Abrir Modal para exclusão . . .
    }
}