@page "/contas"

<!-- Contas Bancárias -->
<div class="container-fluid">
    <div class="col-12 col-md-12">
        <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="m-0 text-dark">Minhas Contas Bancárias</h3>
            <a href="/contas/cadastrar"
               title="vincular nova conta"
               class="text-primary text-center fw-bold border border-primary rounded m-0 py-1 px-2"
               style="text-decoration: none;">
                Vincular nova conta
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Almeida Pay</h5>
                    <p>Conta: 09256-9</p>
                    <p>Agência: 0001</p>
                    <div class="col d-flex flex-fill justify-content-end"><button class="btn btn-primary flex-fill" type="button">DETALHES</button></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Bradesco</h5>
                    <p>Conta: 09256-9</p>
                    <p>Agência: 0001</p>
                    <div class="col d-flex flex-fill justify-content-end"><button class="btn btn-primary flex-fill" type="button">DETALHES</button></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Nubank</h5>
                    <p>Conta: 09256-9</p>
                    <p>Agência: 0001</p>
                    <div class="col d-flex flex-fill justify-content-end"><button class="btn btn-primary flex-fill" type="button">DETALHES</button></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Inter</h5>
                    <p>Conta: 09256-9</p>
                    <p>Agência: 0001</p>
                    <div class="col d-flex flex-fill justify-content-end"><button class="btn btn-primary flex-fill" type="button">DETALHES</button></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Siccob</h5>
                    <p>Conta: 09256-9</p>
                    <p>Agência: 0001</p>
                    <div class="col d-flex flex-fill justify-content-end"><button class="btn btn-primary flex-fill" type="button">DETALHES</button></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Itau</h5>
                    <p>Conta: 09256-9</p>
                    <p>Agência: 0001</p>
                    <div class="col d-flex flex-fill justify-content-end"><button class="btn btn-primary flex-fill" type="button">DETALHES</button></div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
