@page "/sobre"

<div class="d-flex justify-content-start align-items-center">
    <p class="mb-3 m-sm-0 h2 text-dark">Sobre a MyCoreBanking</p>
</div>

<hr />

<div class="row">
    <p>
        Nós somos um time dedicado a fornecer a melhor experiência para gerenciamento financeiro aos nossos usuários.
    </p>
    <p>
        Nosso objetivo é simplificar a maneira como as pessoas lidam com suas finanças diárias. Para isso, oferecemos uma plataforma intuitiva e fácil de usar, onde você pode cadastrar suas transações e contas com apenas alguns cliques.
    </p>
    <p>
        Nosso time de suporte está sempre disponível para ajudar a solucionar qualquer problema que você possa ter com o sistema ou responder suas dúvidas. Você pode entrar em contato conosco através do nosso formulário de contato ou enviando um e-mail para <a href="mailto:mycorebanking@suporte.com"><strong>mycorebanking@suporte.com</strong></a>.
    </p>
    <p>
        Acreditamos que a gestão financeira deve ser acessível a todos, por isso, oferecemos um plano gratuito que atende às necessidades da maioria dos nossos usuários. Se você precisar de recursos adicionais, temos opções de planos pagos que oferecem ainda mais funcionalidades para você gerenciar suas finanças de forma eficiente.
    </p>
    <p>
        Obrigado por escolher nosso sistema de controle financeiro para ajudá-lo(a) a manter suas finanças sob controle. Estamos sempre trabalhando para aprimorar nossos serviços e atender às suas necessidades. Não hesite em entrar em contato conosco se precisar de ajuda.
    </p>


@*    <p>Nós da equipe MyCoreBanking estamos sempre de ouvidos abertos para qualquer problema que você usuário tiver!</p>
    <h3 class="text-dark">Caso precise de alguma ajuda, por favor nos contate pelo email: </h3>
    <p>mycorebanking@suporte.com</p>*@
</div>  