@page "/cartoes"

<div class="container-fluid" style="margin-bottom: 36px;">
                    <div class="d-flex align-items-end">
                        <h3 style="margin-right: 12px;" class="text-dark">Adicionar Cartão</h3><a class="btn btn-primary" href="/cadastroCartao" ><i class="fas fa-plus-circle"></i></a>
                    </div>
</div>




@code {

    void IrParaDetalhesCartao(Guid id)
    {
        // Abrir modal de confirmação por senha . . . ou algo do tipo

        Navigation.NavigateTo($"/cartoes/{id}");
    }
}