@page "/cartoes"

<!-- Título -->
<div class="d-flex flex-wrap flex-column flex-sm-row justify-content-center justify-content-sm-between align-items-center">
    <p class="mb-3 m-sm-0 h2 text-dark">Meus cartões</p>

    <a href="/cartoes/cadastrar"
       class="btn text-primary fw-bolder btn-sm border border-primary rounded"
       style="font-size: 1.2rem">
        Nova cartão
    </a>
</div>

<hr />

<div class="containerCartao"
     style="background-color: #9c44dc; color: white;">
    <img class="logoMasterCard" src="../assets/img/cards/mastercardlogo.png">
    <img class="chip" src="../assets/img/cards/chip.png">
    <p class="nomeCartao">Titular do cartão</p>
    <h4 class="numeroCartao">0000 **** **** 0000</h4>
</div>


@code {

    void IrParaDetalhesCartao(Guid id)
    {
        // Abrir modal de confirmação por senha . . . ou algo do tipo

        Navigation.NavigateTo($"/cartoes/{id}");
    }
}