@inherits LayoutComponentBase

<div class="bg-gradient-primary" style="min-height: 100vh">
    <div class="container">
        @Body
    </div>
</div>

@code {

    protected override async Task OnParametersSetAsync()
    {
        if (await MyCoreBankingApp.IsAuthorized())
            Navigation.NavigateTo("");
    }

}