@inherits LayoutComponentBase

<div id="wrapper">
    <!-- NavMenu -->
    <NavMenu />

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <!-- Header -->
            <Header />

            <div class="container-fluid">
                @Body
            </div>
        </div>

        <!-- Footer -->
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © MyCoreBanking @DateTime.Now.Year</span></div>
            </div>
        </footer>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeAsync<IJSObjectReference>("import", "./assets/js/theme.js");
            await JS.InvokeAsync<IJSObjectReference>("import", "./assets/js/bs-init.js");
        }
    }
}