@inherits LayoutComponentBase

<div id="wrapper" style="min-height: 100vh">
    <!-- NavMenu -->
    <NavMenu NavMenuCssClass="@NavMenuCssClassToggled" />

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <!-- Header -->
            <Header OnToggleMenu="ToggleMenu" />

            <div class="container-fluid">
                @Body
            </div>
        </div>

        <!-- Footer -->
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © MyCoreBanking @DateTime.Now.Year</span></div>
            </div>
        </footer>
    </div>
</div>

<BlazoredToasts PauseProgressOnHover="true" ShowProgressBar="true" />


@code {
    private string NavMenuCssClassToggled { get; set; } = "d-flex";

    void ToggleMenu()
    {
        if (NavMenuCssClassToggled == "d-flex")
        {
            NavMenuCssClassToggled = "d-none";
        }
        else
        {
            NavMenuCssClassToggled = "d-flex";
        }

        StateHasChanged();
    }
}